body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.welcome {
  display: block;
  margin: 5px;
}

.result {
  margin: auto;
}

.result > tbody > tr {
  text-align: left;
}

.result > tbody > tr > td {
  padding: 0 50px;
}

.code {
  color: red;
  max-width: 500px;
}

.consent {
  word-wrap: break-word;
}